<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Event</title>
  <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
  <div class="ajax-container">
    <form action="{% url 'eventportal:register' %}" method="post" enctype="multipart/form-data" class="ajax">
      {% csrf_token %}
      <h2>Upload Events</h2>
      <input name="title" type="text" placeholder="Event Name" required>
      <input name="venue" type="text" placeholder="Event Venue" required>
      <input name="date" type="date" placeholder="Event date" required>
      <input name="time" type="time" placeholder="Event Time" required>
      <input name="dept" type="text" placeholder="Department/Group" required>
      <input name="url" type="text" placeholder="Registration Form Link" required>
      <input name="img" type="file" placeholder="Upload Event Image" required>
      <textarea name="desc" cols="30" rows="20"></textarea>
      <button type="submit">Upload</button>
    </form>
  </div>
  <script src="{% static 'sweetalert2.min.js' %}"></script>
</body>
</html>
